			body {
				margin: 0px;
				background-image: url("https://www.brawlhalla.com/c/uploads/2020/12/SunThroughTrees_1920x1080.jpg");
			}
			/*Logo*/
			header {
				position: sticky;
				text-align: center;
				background-color: lightgreen;
				padding: 10px;
			}
			/*Barra de navegaçao*/
			header h1 {
				font-size: 50px;
			}
			img {
				position: absolute;
				width: 50px;
				height: 50px;
				top: 50px;
				right: 38%;
			}
			nav ul {
				position: sticky;
				list-style-type: none;
				background-color: #c266ff;
				overflow: hidden;
				margin: 0px;
				padding: 0px;

			}
			nav li {
				float: left;
			}
			nav a {
				color: black;
				text-decoration: none;
				padding: 15px;
				display: block;
				font-size: 20px;
			}
			.btnMenu:hover {
				background-color: yellow;
			}
			.btnMenu:active{
				background-color: black;
			}
			/*Salas*/
			#sala1 {
				background-image: url("https://wallpaperaccess.com/full/22501.png");
				top: 50%;
				right: 50%;
				width: 1000px;
				height: 200px;
				position: absolute;
				border: 5px double	black;
				transform: translate(50%, -50%);
			}
			#sala2 {
				background-image: url("https://wallpaperaccess.com/full/22501.png");
				top: 80%;
				right: 50%;
				width: 1000px;
				height: 200px;
				position: absolute;
				border: 5px double	black;
				transform: translate(50%, -50%);
			}
			#sala3 {
				background-image: url("https://wallpaperaccess.com/full/22501.png");
				top: 110%;
				right: 50%;
				width: 1000px;
				height: 200px;
				position: absolute;
				border: 5px double	black;
				transform: translate(50%, -50%);
			}
			